@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
    --sidebar-bg-color: #202123;
    --app-bg-color: #343541;
}

* {
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
